<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon0</string>
		<key>nickName</key>
		<string>可爱的猪猪女孩</string>
		<key>vip</key>
		<true/>
		<key>text</key>
		<string>生活是自己的，加油</string>
		<key>picture</key>
		<string>picture0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon1</string>
		<key>nickName</key>
		<string>可爱的猪猪女孩</string>
		<key>vip</key>
		<false/>
		<key>text</key>
		<string>记得很久以前看过一期《奇葩说》，节目组当时给辩手的论题是，“从未在一起和最终没有在一起哪个最遗憾”。当时有一个小姑娘说了一段话，让我印象特别深刻，她说如果我喜欢一个人呢，我就从第一眼看到最后一眼，把这个人爱够，把我的感觉用光。我只希望那些年让我成长的人是他，之后的那些年他喝过大酒之后想到的人是我，而不是其他比我完美太多的人。“只要爱过都会留下痕迹，至于往事就留在风中，如果我再遇到一杯好酒，我会毫不犹豫的举起酒杯跟大家说，干了这杯，不为什么。”其实爱情没有那么复杂，既然喜欢就在一起，就算不能走到最后，能同有一段回忆，无论好坏，都已经是，三生有幸。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon2</string>
		<key>nickName</key>
		<string>魏大勋</string>
		<key>vip</key>
		<true/>
		<key>text</key>
		<string>今天在#电影紧急救援#片场和@彭于晏@王彦霖一起get了花式比心</string>
		<key>picture</key>
		<string>picture2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon3</string>
		<key>nickName</key>
		<string>关帅729</string>
		<key>vip</key>
		<true/>
		<key>text</key>
		<string>飞机上，以为乘客正在看《魔道祖师》动画的第一集，且不知，她已经被这部动漫的配音员包围了。。。</string>
		<key>picture</key>
		<string>picture3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon4</string>
		<key>nickName</key>
		<string>an ge lababy</string>
		<key>vip</key>
		<false/>
		<key>text</key>
		<string>感恩有你</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon5</string>
		<key>nickName</key>
		<string>暖南说</string>
		<key>vip</key>
		<false/>
		<key>text</key>
		<string>如果你不懂，什么叫珍惜，那么我来告诉你，从失去我开始</string>
		<key>picture</key>
		<string>picture6</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon6</string>
		<key>nickName</key>
		<string>可爱的猪猪女孩</string>
		<key>vip</key>
		<true/>
		<key>text</key>
		<string>生活是自己的，加油</string>
		<key>picture</key>
		<string>picture0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon7</string>
		<key>nickName</key>
		<string>魏大勋</string>
		<key>vip</key>
		<true/>
		<key>text</key>
		<string>今天在#电影紧急救援#片场和@彭于晏@王彦霖一起get了花式比心</string>
		<key>picture</key>
		<string>picture2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon8</string>
		<key>nickName</key>
		<string>angelababy</string>
		<key>vip</key>
		<false/>
		<key>text</key>
		<string>感恩有你</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon9</string>
		<key>nickName</key>
		<string>暖南说</string>
		<key>vip</key>
		<false/>
		<key>text</key>
		<string>如果你不懂，什么叫珍惜，那么我来告诉你，从失去我开始</string>
		<key>picture</key>
		<string>picture6</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon10</string>
		<key>nickName</key>
		<string>魏大勋</string>
		<key>vip</key>
		<true/>
		<key>text</key>
		<string>今天在#电影紧急救援#片场和@彭于晏@王彦霖一起get了花式比心</string>
		<key>picture</key>
		<string>picture2</string>
	</dict>
</array>
</plist>
